body {
  background-color: lightgrey;
}
main {
  padding: 20px;
}
h1 {
  color: white;
  font-family: sans-serif;
}
p {
  color: black;
  font-family: Arial;
}
.box {
  width: 200px;
  height: 100px; 
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}
